<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="text" content="">
		<meta name="author" content="">
		
		<!-- description -->
        <meta name="description" content="">
        <!-- keywords -->
        <meta name="keywords" content="">
		
		
		<!--Start Title -->
		<title>Adrian Shawarma | Place your order</title>
		<!--End Title -->
		
		
		
		<!-- Start Favicon -->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">
		<!-- END Favicon -->
		
		
		

		<!-- Uikit Framework -->
		<link rel="stylesheet" href="/assets/css/uikit.min.css" />
		<!-- Bootstrap Framework -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
		<!-- Font Awesome -->
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
		<!-- Jquery UI -->
		<link rel="stylesheet" href="/assets/css/jquery-ui.css">
		<!-- Main Stylesheet -->
		<link rel="stylesheet" href="/assets/css/style.css" />
		<!-- Responsive -->
		<link rel="stylesheet" href="/assets/css/responsive.css">


	</head>
	<body>
		{{{body}}}

		<!-- jQuery Library -->
		<script src="/assets/js/jquery.min.js"></script>
		<!-- jQuery UI -->
		<script src="/assets/js/jquery-ui.js"></script>
		<!-- Uikit Framework -->
		<script src="/assets/js/uikit.min.js"></script>
		<!-- Uikit Icons -->
		<script src="/assets/js/uikit-icons.min.js"></script>
		<!-- Bootstrap Framework -->
		<script src="/assets/js/bootstrap.min.js"></script>
		<!-- Modernizr -->
		<script src="/assets/js/modernizr.js"></script>
		<!-- Font Awesome -->
		<script src="/assets/js/fontawesome.min.js"></script>
		
		<!-- Counter -->
		<script src="/assets/js/counter.js"></script>
		<!-- Contact Form Validation -->
		<script src="/assets/js/contact.js"></script>
		<!-- Custom Scripts -->
		<script src="/assets/js/custom.js"></script>
	</body>
</html>