		<a href="javascript:" id="return-to-top"><span data-uk-icon="icon: arrow-up; ratio: 1.3" class="text-gray-light"></span></a>

		
		<!-- Loading Screen -->
		<div id="loader-wrapper">
			<!-- Loading Image -->
			<div class="loader-img"><img src="/assets/images/loading-screen.gif" alt="" /></div>
			<!-- END Loading Image -->
			
			<!-- Loading Screen Split -->
			<div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
			<!-- End Loading Screen Split -->
		</div> 
		<!-- End Loading Screen -->

		
		
		<!-- Home -->
		<div class="uk-position-relative uk-visible-toggle image-bg-4" data-uk-slider="finite: true">

			<!-- Container -->
			<ul class="uk-slider-items uk-child-width-1-2@m uk-grid uk-grid-small" data-uk-height-viewport>
				<li class="uk-transition-toggle uk-animation-toggle overflow-hidden uk-overlay-primary-dark sm-hidden">
					<!-- Home Content -->
					<div class="uk-position-center">
						<div class="width-80 margin-auto sm-width-100">
							<!-- Image -->
							<img src="/assets/images/food/IMG_0212.jpg" alt="" />
						</div>
					</div>
				</li>
				
				
				<li class="uk-transition-toggle uk-animation-toggle overflow-hidden uk-overlay-primary-dark">
					<div class="uk-position-cover">
						<!-- Home Content -->
						<div class="uk-position-center text-center text-left">
							<div class="width-70 margin-auto">
								<!-- Titles -->
								<h3 class="title-large text-weight-800 text-gray-light">Adrian Shawarma.</h3>
								<p class="text-center text-left text-gray-regular">Delivered hot <i class="fab fa-hotjar"></i> in 44 minutes!</p>
								<!-- Form Group >
								<div class="form-group">
									<!-- Input >
									<input class="form-control form_lastname bg-white border-color-gray-regular padding-25px border-1px padding-10px text-gray-extra-dark text-weight-400 width-70 sm-width-100" type="text" name="name"  placeholder="Search For Food" required="required" data-error="Lastname is required.">
								</div>
								< End Form Group -->
								
								<a class="btn btn-medium btn-white border-radius-50 sm-display-table mb-1 mr-1" href="#">Order Now</a>
								<a class="btn btn-medium btn-white border-radius-50 sm-display-table no-margin-bottom" href="#menu">View Menu</a>
							</div>
						</div>
						<!-- End Home Content -->
					</div>
					<!-- End Overlay -->
				</li>
			</ul>
		</div>
		<!-- End Home -->

		<!-- Header -->
		<div class="z-index-999 bg-black">
			<!-- Header Options -->
			<div class="navbar-dark" data-uk-sticky>
				<!-- Header Container -->
				<nav class="uk-navbar-container" data-uk-navbar="boundary-align: true; align: center;">
					<!-- Navigation Left Side -->
					<div class="uk-navbar-left padding-left-two-percent">
						<!-- Logo Image -->
						<a class="uk-navbar-item uk-logo text-gray-light text-weight-600" href="#" data-uk-scroll><i class="fab fa-hotjar"></i> Adrian Shawarma.</a>
					</div>
					<!-- End Navigation Left Side -->
					
					
					
					<!-- Navigation Right Side -->
					<div class="uk-navbar-right uk-light padding-right-two-percent">
						<!-- Links -->
						<ul class="uk-navbar-nav text-weight-300">							
							<li>
								<a class="uk-visible@m" href="#" data-uk-scroll>Home</a>
							</li>						
							<!--li>
								<a class="uk-visible@m" href="#featured" data-uk-scroll>Featured</a>
							</li-->
							<li>
								<a class="uk-visible@m" href="#menu" data-uk-scroll>Menu</a>
							</li>
							<!--li>
								<a class="uk-visible@m" href="#gallery" data-uk-scroll>Gallery</a>
							</li>
							<li>
								<a class="uk-visible@l" href="#">Pages</a>
							</li-->
							<li>
								<a class="uk-visible@m" href="#contact" data-uk-scroll>Contact</a>
							</li>
							<li>
								<a class="uk-visible@m" href="#reservation" data-uk-scroll><i class="fab fa-whatsapp"></i> Place Order</a>
							</li>
							
							
							<li>
								<!--a class="uk-navbar-toggle" href="#modal-full4" data-uk-search-icon data-uk-toggle></a>
								
								<!-- Search Dropdown >
								<!--div class="uk-navbar-dropdown bg-black no-shadow width-100" data-uk-drop="mode: click; cls-drop: uk-navbar-dropdown; boundary: !nav">
									<div class="uk-grid-small uk-flex-middle" data-uk-grid>
										<div class="uk-width-expand">
											<!-- Input Dropdown >
											<form class="uk-search uk-search-navbar uk-width-1-1">
											
												<input class="uk-search-input  text-weight-300" type="search" placeholder="Search">
											</form>
											<!-- End Input Dropdown >
										</div>
										<div class="uk-width-auto">
											<a class="uk-navbar-dropdown-close" href="#" data-uk-close></a>
										</div>
									</div>
								</div-->
								<!-- End Search Dropdown -->
							<li>
							
							<li>
								<a class="uk-visible@m" href="#"><i class="fab fa-instagram instagram"></i></a>
							</li>
							
							
							<li>
								<a class="uk-visible@m" href="#"><i class="fab fa-facebook facebook"></i></a>
							</li>
							

							<!-- Off-Canvas Navigation Toggle -->
							<li>
								<div class="uk-navbar-right uk-hidden@l">
									<a class="uk-navbar-toggle" data-uk-navbar-toggle-icon data-uk-toggle="target: #offcanvas-nav"></a>
									
								</div>
							</li>
							<!-- End Off-Canvas Navigation Toggle -->
						</ul>
					</div>
					<!-- End Navigation Right Side -->
				</nav>
				<!-- End Header Container -->	
			</div>
			<!-- End Header Options -->
		</div>
		<!-- End Header -->



		<!-- Off-Canvas Navigation -->
		<div id="offcanvas-nav" data-uk-offcanvas="mode: push; flip: true; overlay: true; esc-close: true;">
		
			<!-- Off-Canvas Bar -->
			<div class="uk-offcanvas-bar menu-dark bg-black uk-flex uk-flex-middle">
			
				<div>

					<!-- Off-Canvas Links-->
					<ul class="uk-nav-default uk-nav-parent-icon text-left" data-uk-nav>
					
						
						<li class="margin-top-20px"><a class="uk-navbar-item uk-logo" href="#" data-uk-scroll><span class="text-brown text-weight-800"><i class="fab fa-hotjar"></i> Adrian Shawarma.</span></a></li>

						<!-- Link -->
						<li class="uk-parent margin-bottom-10px">
						
							<a href="#" class="bottom-border border-1px border-color-gray-dark" data-uk-scroll><span class="text-medium text-gray-regular text-weight-400 padding-bottom-25px">Home</span></a>
							
							
						</li>
						<!-- End Link -->
						
						
						
						<!-- Link >
						<li class="uk-parent margin-bottom-10px">
						
							<a href="#featured" class="bottom-border border-1px border-color-gray-dark" data-uk-scroll><span class="text-medium text-gray-regular text-weight-400 padding-bottom-25px">Featured</span></a>

						</li>
						<!-- End Link -->
						
						
						<!-- Link -->
						<li class="uk-parent margin-bottom-10px">
						
							<a href="#menu" class="bottom-border border-1px border-color-gray-dark" data-uk-scroll><span class="text-medium text-gray-regular text-weight-400 padding-bottom-25px">Menu</span></a>

						</li>
						<!-- End Link -->
						
						<!-- Link >
						<li class="uk-parent margin-bottom-10px">
						
							<a href="#gallery" class="bottom-border border-1px border-color-gray-dark" data-uk-scroll><span class="text-medium text-gray-regular text-weight-400 padding-bottom-25px">Gallery</span></a>
							
						</li>
						<!-- End Link -->
						
						
						<!-- Link >
						<li class="uk-parent margin-bottom-10px">
						
							<a href="#" class="bottom-border border-1px border-color-gray-dark"><span class="text-large text-gray-regular text-weight-400 padding-bottom-25px">Pages</span></a>
							
							<!-- Dropdown >
							<ul class="uk-nav-sub">

							
								<li><a href="page-about.html">About</a></li>
								<li><a href="page-menu.html">Menu</a></li>
								<li><a href="page-featured.html">Featured</a></li>
								<li><a href="page-reservation.html">Reservation</a></li>
								<li><a href="page-categories.html">Categories</a></li>
								<li><a href="page-gallery.html">Gallery</a></li>
								<li><a href="page-chefs.html">Chefs</a></li>
								<li><a href="page-locations.html">Locations</a></li>
								<li><a href="page-login.html">Sign In</a></li>
								<li><a href="page-cart.html">Cart</a></li>
								
		
							</ul>
							<!-- End Dropdown >
							
						</li>
						<!-- End Link -->
						
						
						<!-- Link -->
						<li class="uk-parent margin-bottom-10px">
						
							<a href="#contact" class="bottom-border border-1px border-color-gray-dark" data-uk-scroll><span class="text-medium text-gray-regular text-weight-400 padding-bottom-25px">Contact</span></a>
							
						</li>
						<!-- End Link -->
						
						
						<!-- Link -->
						<li class="uk-parent margin-bottom-10px">
						
							<a href="#reservation" class="bottom-border border-1px border-color-gray-dark" data-uk-scroll><span class="text-medium text-gray-regular text-weight-400 padding-bottom-25px"><i class="fab fa-whatsapp"></i>Place Order</span></a>
							
						</li>
						<!-- End Link -->

					</ul>
					<!-- End Off-Canvas Links -->
					
					
					
					<!-- Navigation Footer -->
					<div class="nav-footer margin-top-75px">

						<!-- Social Links for Off-Canvas Footer -->
						<ul class="list-unstyled no-margin-bottom margin-top-20px">
						
							<li class="display-inline-block margin-right-25px"><a href="#"><i class="fab fa-facebook facebook"></i></a></li>
							<li class="display-inline-block margin-right-25px"><a href="#"><i class="fab fa-twitter twitter"></i></a></li>
							<li class="display-inline-block margin-right-25px"><a href="#"><i class="fab fa-instagram instagram"></i></a></li>

						</ul>
						<!-- End Social Links for Off-Canvas Footer -->

						<!-- Copyright Information >
						<p class="no-margin-bottom margin-top-20px text-small text-gray-light text-weight-400">Copyright © 2020 of <a href="https://www.templatemilk.com" target="_blank">TemplateMilk.</a></p>
						<p class="no-margin-bottom text-small text-gray-regular text-weight-400 text-black">All rights reserved.</p>
						<!-- End Copyright Information -->
					</div>
					<!-- End Navigation Footer -->
				</div>
			</div>
			<!-- End Off-Canvas Bar -->
			
		</div>
		<!-- End Off-Canvas Navigation -->



		<!-- About -->
		<div id="about" class="image-bg-2 overlay-black-dense padding-top-bottom-150px" data-uk-parallax="bgy: -150; easing: -1; media: @m;">
			<!-- Container -->
			<div class="container sm-container-spread">
				<!-- Row -->
				<div class="row">
					<!-- Column -->
					<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 center-col text-left margin-auto sm-text-center">
						<img class="uk-box-shadow-medium border-radius-15" src="/assets/images/food/IMG_0113.jpg" alt="" />
					</div>
					<!-- End Column -->
					
					

					<!-- Column -->
					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 center-col text-left margin-auto md-margin-top-75px md-text-center uk-flex uk-flex-middle">
						<!-- About Description -->
						<div>
							<h3 class="title-large text-weight-800 text-gray-light">Stay safe, stay home, eat fresh.</h3>
							<div class="separator bottom-border border-2px border-color-gray-extra-dark width-25 margin-top-bottom-25px md-margin-left-right-auto"></div>
							<p class="text-gray-regular text-weight-400">Order our delicious Shawarma made from the freshest veggies and meat from our farm.</p>

							<p class="text-gray-regular text-weight-400">We spare nothing to ensure our Shawarma is prepared with high quality, exoticly rich taste and made fresh on order. Healthy, delicious and specially made FOR YOU!.</p>
							
							<p class="text-gray-regular text-weight-400 sm-hidden">Netflix, Shawarma and Chill! Orders of 2 or more Shawarmas come with...</p>
							
							<a class="btn btn-medium btn-white border-radius-50 sm-margin-left-right-auto sm-display-table" href="page-about.html">Learn More</a>
						</div>
						<!-- End About Description -->
					</div>
					<!-- End Column -->
				</div>
				<!-- End Row -->
			</div>
			<!-- End Container -->
		</div>
		<!-- End About -->


		<!-- Menu -->
		<div id="menu" class="padding-top-150px padding-bottom-30px bg-gray-extra-dark">
			<!-- Container -->
			<div class="container sm-container-spread">
				<!-- Row -->
				<div class="row">
				
					<!-- Section Title -->
					<div class="col-md-6 col-sm-12 col-xs-12 center-col margin-bottom-75px text-center">
					
						<h3 class="title-large text-weight-800 text-gray-light">Our Menu.</h3>
				
						<div class="separator bottom-border border-2px border-color-gray-dark width-25 margin-top-bottom-25px margin-left-right-auto"></div>
						
						<!--p class="text-gray-regular text-weight-400">Also include classic Czech wine, so we can offer a wide selection of Moravian bottled wines and complete selection of barrel wines. </p-->
				
					</div>
					<!-- End Section Title -->
					
				</div>
				<!-- End Row -->
				

				<!-- Row -->
				<div class="row">
				
					<!-- Breakfast Column -->
					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 center-col text-left md-text-center md-margin-bottom-75px">
						
						<!-- Menu Title >
						<div class="row">
						
							<!-- Column >
							<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-75px">
							
								<h4 class="text-weight-700 cookie margin-bottom-10px text-capitalize text-brown text-center">Breakfast.</h4>

							</div>
							<!-- End Column >
							
						</div>
						<!-- End Menu Title -->
						
						
						<!-- Row -->
						<div class="row">
						
							<!-- Column -->
							<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-75px">
						
								<!-- Image -->
								<div class="images" data-uk-lightbox="animation: fade">
								
									<a href="/assets/images/food/IMG_0136.jpg" class="uk-inline-clip uk-transition-toggle" tabindex="0" data-caption="This is a caption.">
										
										<!-- Image -->
										<img class="border-radius-15" src="/assets/images/food/IMG_0136.jpg" alt="" />

									</a>
								
								</div>
								<!-- End Image -->	
								
				
								<!-- Dish Title -->
								<p class="text-extra-large margin-top-25px text-weight-700"><a href="page-gallery.html" class="text-gray-light">Chicken Shawarma</a></p>
								
								<!-- Dish Info -->
								<div class="text-brown">
									<!--i class="fas fa-info"></i>
									<span class="margin-left-10px position-relative top-2">330 cal</span-->
									<span class="text-gray-light text-extra-large position-relative top-2 margin-left-25px">&#8358;1,200</span>
								</div>
								<!-- End Dish Info -->
				
							</div>
							<!-- End Column -->
						
						</div>
						<!-- End Row -->
						
						
						<!-- Row -->
						<div class="row">
						
							<!-- Column -->
							<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-75px">
						
								<!-- Image -->
								<div class="images" data-uk-lightbox="animation: fade">
								
									<a href="/assets/images/food/IMG_0139.jpg" class="uk-inline-clip uk-transition-toggle" tabindex="0" data-caption="This is a caption.">
										
										<!-- Image -->
										<img class="border-radius-15" src="/assets/images/food/IMG_0139.jpg" alt="" />

									</a>
								
								</div>
								<!-- End Image -->	
								
				
								<!-- Dish Title -->
								<p class="text-extra-large margin-top-25px text-weight-700"><a href="page-gallery.html" class="text-gray-light">Beef Shawarma</a></p>
								
								<!-- Dish Info -->
								<div class="text-brown">
									<!--i class="fas fa-info"></i>
									<span class="margin-left-10px position-relative top-2">330 cal</span-->
									<span class="text-gray-light text-extra-large position-relative top-2 margin-left-25px">&#8358;1000</span>
								</div>
								<!-- End Dish Info -->
				
							</div>
							<!-- End Column -->
						
						</div>
						<!-- End Row -->						
					</div>
					<!-- End Breakfast Column -->
					
					
					<!-- Lunch Column -->
					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 center-col text-left md-text-center md-margin-bottom-75px">
						
						<!-- Menu Title >
						<div class="row">
						
							<!-- Column >
							<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-75px">
							
								<h4 class="text-weight-700 cookie margin-bottom-10px text-capitalize text-brown text-center">Lunch.</h4>
	
							</div>
							<!-- End Column >
							
						</div>
						<!-- End Menu Title -->
						
						
						<!-- Row -->
						<div class="row">
						
							<!-- Column -->
							<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-75px">
						
								<!-- Image -->
								<div class="images" data-uk-lightbox="animation: fade">
								
									<a href="/assets/images/food/IMG_0263.jpg" class="uk-inline-clip uk-transition-toggle" tabindex="0" data-caption="This is a caption.">
										
										<!-- Image -->
										<img class="border-radius-15" src="/assets/images/food/IMG_0263.jpg" alt="" />

									</a>
								
								</div>
								<!-- End Image -->	
								
				
								<!-- Dish Title -->
								<p class="text-extra-large margin-top-25px text-weight-700"><a href="page-gallery.html" class="text-gray-light">Supreme Jumbo</a></p>
								
								<!-- Dish Info -->
								<div class="text-brown">
									<!--i class="fas fa-info"></i>
									<span class="margin-left-10px position-relative top-2">330 cal</span-->
									<span class="text-gray-light text-extra-large position-relative top-2 margin-left-25px">&#8358;1,500</span>
								</div>
								<!-- End Dish Info -->
				
							</div>
							<!-- End Column -->
						
						</div>
						<!-- End Row -->
						
						
						<!-- Row -->
						<div class="row">
						
							<!-- Column -->
							<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-75px">
						
								<!-- Image -->
								<div class="images" data-uk-lightbox="animation: fade">
								
									<a href="/assets/images/food/IMG_0197.jpg" class="uk-inline-clip uk-transition-toggle" tabindex="0" data-caption="This is a caption.">
										
										<!-- Image -->
										<img class="border-radius-15" src="/assets/images/food/IMG_0197.jpg" alt="" />

									</a>
								
								</div>
								<!-- End Image -->	
								
				
								<!-- Dish Title -->
								<p class="text-extra-large margin-top-25px text-weight-700"><a href="page-gallery.html" class="text-gray-light">Shawarma Mini</a></p>
								
								<!-- Dish Info -->
								<div class="text-brown">
									<!--i class="fas fa-info"></i>
									<span class="margin-left-10px position-relative top-2">330 cal</span-->
									<span class="text-gray-light text-extra-large position-relative top-2 margin-left-25px">&#8358;600 (30 orders mininum)</span>
								</div>
								<!-- End Dish Info -->
				
							</div>
							<!-- End Column -->
						
						</div>
						<!-- End Row -->						
					</div>
					<!-- End Lunch Column -->
					
					
					<!-- Dinner Column -->
					<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 center-col text-left md-text-center">
						
						<!-- Menu Title >
						<div class="row">
						
							<!-- Column >
							<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-75px">
							
								<h4 class="text-weight-700 cookie margin-bottom-10px text-capitalize text-brown text-center">Dinner.</h4>
								

							</div>
							<!-- End Column >
							
						</div>
						<!-- End Menu Title -->
						
						
						<!-- Row -->
						<div class="row">
						
							<!-- Column -->
							<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-75px">
						
								<!-- Image -->
								<div class="images" data-uk-lightbox="animation: fade">
								
									<a href="/assets/images/food/IMG_0243.jpg" class="uk-inline-clip uk-transition-toggle" tabindex="0" data-caption="This is a caption.">
										
										<!-- Image -->
										<img class="border-radius-15" src="/assets/images/food/IMG_0243.jpg" alt="" />

									</a>
								
								</div>
								<!-- End Image -->	
								
				
								<!-- Dish Title -->
								<p class="text-extra-large margin-top-25px text-weight-700"><a href="page-gallery.html" class="text-gray-light">Chicken & Chips</a></p>
								
								<!-- Dish Info -->
								<div class="text-brown">
									<!--i class="fas fa-info"></i>
									<span class="margin-left-10px position-relative top-2">330 cal</span-->
									<span class="text-gray-light text-extra-large position-relative top-2 margin-left-25px">&#8358;1,800</span>
								</div>
								<!-- End Dish Info -->
							</div>
							<!-- End Column -->
						</div>
						<!-- End Row -->
						
						<!-- Row -->
						<div class="row">
						
							<!-- Column -->
							<div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-75px">
						
								<!-- Image -->
								<div class="images" data-uk-lightbox="animation: fade">
								
									<a href="/assets/images/food/IMG_0175.jpg" class="uk-inline-clip uk-transition-toggle" tabindex="0" data-caption="This is a caption.">
										
										<!-- Image -->
										<img class="border-radius-15" src="/assets/images/food/IMG_0175.jpg" alt="" />

									</a>
								
								</div>
								<!-- End Image -->	
								
				
								<!-- Dish Title -->
								<p class="text-extra-large margin-top-25px text-weight-700"><a href="page-gallery.html" class="text-gray-light">Burger & Chips</a></p>
								
								<!-- Dish Info -->
								<div class="text-brown">
									<!--i class="fas fa-info"></i>
									<span class="margin-left-10px position-relative top-2">330 cal</span-->
									<span class="text-gray-light text-extra-large position-relative top-2 margin-left-25px">&#8358;1,500</span>
								</div>
								<!-- End Dish Info -->
				
							</div>
							<!-- End Column -->
						
						</div>
						<!-- End Row -->		
					</div>
					<!-- End Dinner Column -->
				</div>
				<!-- End Row -->
			</div>
			<!-- End Container -->
		</div>
		<!-- End Menu -->

		<!-- Delivery Div -->
		<div class="padding-top-20px padding-bottom-150px bg-gray-extra-dark">
			<div class="container sm-container-spread">
				<div class="row">
					<div class="col-sm">
					</div>
					<div class="col-sm">
						<h2 class="text-gray-light text-weight-400">
							<i class="fas fa-truck"></i> Delivery: &#8358;600
						</h2>
					</div>
					<div class="col-sm">
					</div>
				</div>
			</div>
		</div>

		<!-- Contact -->
		<div id="contact" class="image-bg-10 overlay-black-dense padding-top-bottom-150px">
		
			<!-- Row -->
			<div class="row">
			
				<!-- Column -->
				<div class="col-md-6 col-sm-12">
				
					<!-- Email Link -->
					<div class="text-center sm-margin-bottom-75px">
							
							<p class="text-extra-large text-gray-light text-weight-700">Got Questions?</p>
							
							<a class="btn-spread text-gray-regular text-center text-medium text-weight-700 border-bottom border-2px border-color-gray-dark padding-bottom-10px padding-left-25px padding-right-25px sm-margin-left-right-auto sm-display-table" href="#" data-uk-toggle="target: .modal-contact">farmsadrian@gmail.com</a>

					</div>
					<!-- End Email Link -->
				
				</div>
				<!-- Column -->
				
				
				<!-- Column -->
				<div class="col-md-6 col-sm-12">
				
					<!-- Phone Link -->
					<div class="text-center">
					
							<p class="text-extra-large text-gray-light text-weight-700">Read to order?</p>
					
							<a class="btn-spread text-gray-regular text-center text-medium text-weight-700 border-bottom border-2px border-color-gray-dark padding-bottom-10px padding-left-25px padding-right-25px sm-margin-left-right-auto sm-display-table" target="_blank" href="https://wa.me/2349062050010">0906 205 0010</a>

					</div>
					<!-- End Phone Link -->
				
				</div>
				<!-- End Column -->
				
			</div>
			<!-- End Row -->
			

			<!-- Modal Pop Up -->
			<div class="modal-contact" data-uk-modal="center: true; esc-close: true; bg-close: true;">
			
				<!-- Modal Container -->
				<div class="uk-modal-dialog uk-margin-auto-vertical width-600px padding-75px page-title-small text-center bg-gray-extra-dark sm-padding-15px text-center width-70">
					
					<button class="uk-modal-close-default" type="button" data-uk-close></button>
					
					<!-- Form Container -->
					<form class="contact-form" method="post" action="contact.php">
					
						<!-- Title -->
						<h4 class="uk-modal-title text-center margin-bottom-25px text-weight-700 text-gray-light text-extra-large line-height-auto">How can we help you?</h4>
						
						<!-- Messages For The User -->
						<div class="messages"></div>

						<!-- Form Controls -->
						<div class="controls">

							<!-- Row -->
							<div class="row">
							
								<!-- Column -->
								<div class="col-md-12 col-sm-12 col-xs-12">
								
									<!-- Form Group -->
									<div class="form-group">

										<!-- Input -->
										<input class="form-control form_name no-margin-top text-medium text-gray-extra-dark bg-white padding-25px" type="text" name="name"  placeholder="First Name *" required="required" data-error="Firstname is required.">

										<!-- Error Block -->
										<div class="help-block with-errors"></div>
									
									</div>
									<!-- End Form Group -->
									
								</div>
								<!-- End Column -->
								
							</div>
							<!-- End Row -->
							
							
							<!-- Row -->
							<div class="row">
								
								<!-- Column -->
								<div class="col-md-12">
								
									<!-- Form Group -->
									<div class="form-group">
									
										<!-- Input -->
										<input class="form-control form_lastname no-margin-top text-medium text-gray-extra-dark bg-white padding-25px" type="text" name="surname" placeholder="Last Name *" required="required" data-error="Lastname is required.">
										
										<!-- Error Block -->
										<div class="help-block with-errors"></div>
										
									</div>
									<!-- End Form Group -->
									
								</div>
								<!-- End Column -->

							</div>
							<!-- End Row -->	

							<!-- Row -->
							<div class="row">
							
								<!-- Column -->
								<div class="col-md-6">
								
									<!-- Form Group -->
									<div class="form-group">

										<!-- Input -->
										<input class="form-control form_email no-margin-top text-medium text-gray-extra-dark bg-white padding-25px" type="email" name="email" placeholder="E-mail *" required="required" data-error="Valid email is required.">
										
										<!-- Error Block -->
										<div class="help-block with-errors"></div>
									
									</div>
									<!-- End Form Group -->
									
								</div>
								<!-- End Column -->
								
								
							  
								<!-- Column -->
								<div class="col-md-6">
								
									<!-- Form Group -->
									<div class="form-group">

										<!-- Input -->
										<input class="form-control form_phone no-margin-top text-medium text-gray-extra-dark text-weight-500 bg-white padding-25px" type="tel" name="phone" placeholder="Phone">
										
										<!-- Error Block -->
										<div class="help-block with-errors"></div>
										
									</div>
									<!-- End Form Group -->
									
								</div>
								<!-- End Column -->

							</div>
							<!-- End Row -->	
							

							<!-- Row -->
							<div class="row">
							
								<!-- Column -->
								<div class="col-md-12">
								
									<!-- Form Group -->
									<div class="form-group">
									
										<!-- Input -->
										<textarea class="form-control form_message no-margin-top text-medium text-gray-extra-dark bg-white padding-25px" name="message" placeholder="Your Questions" rows="4" required="required" data-error="Please,leave us a message."></textarea>
										
										<!-- Error Block -->
										<div class="help-block with-errors"></div>
										
									</div>
									<!-- End Form Group -->
									
								</div>
								<!-- End Column -->
							  
							  
								<!-- Column -->
								<div class="col-md-12">
								
									<!-- Input -->
									<input type="submit" class="btn-send btn btn-medium btn-brown border-radius-50 no-margin-bottom sm-margin-left-right-auto sm-display-table" value="Send message">
								</div>
								<!-- End Column -->
							</div>
							<!-- End Row -->
						</div>
						<!-- End Form Controls -->	
					</form>
					<!-- End Form Container -->
				</div>
				<!-- End Modal Container -->	
			</div>
			<!-- End Modal Pop Up -->
		</div>
		<!-- End Contact -->

